[submodule "contracts/protocols/mainnet/morpho/aave_v3/library/morpho-utils"]
	path = contracts/protocols/mainnet/morpho/aave_v3/library/morpho-utils
	url = https://github.com/morpho-org/morpho-utils.git
[submodule "contracts/protocols/mainnet/morpho/aave_v3/library/morpho-aave-v3"]
	path = contracts/protocols/mainnet/morpho/aave_v3/library/morpho-aave-v3
	url = https://github.com/morpho-org/morpho-aave-v3
[submodule "contracts/protocols/mainnet/morpho/aave_v3/library/aave-v3-core"]
	path = contracts/protocols/mainnet/morpho/aave_v3/library/aave-v3-core
	url = https://github.com/aave/aave-v3-core
